.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin-bottom: 100px;
}

.App-header {
  background-color: #222;
  height: 400px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.Color-colum{
  height: 40px;
  width:auto;
  display: show;
  position: center;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  margin-bottom: 30px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
